<!doctype html>
<html class="no-js" lang="">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Weibo Emotion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href={% static "apple-touch-icon.png" %}>
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href={% static "css/normalize.css" %}>
    <link rel="stylesheet" href={% static "css/main.css" %}>
    <script src={% static "js/vendor/modernizr-2.8.3.min.js" %}></script>
</head>
<body>

<!-- Add your site or application content here -->
<p>Hello world!</p>

{% if user %}
    <p>
        Hello {{ name }} ({{ uid }})!
    </p>
    <a href="http://weibo.com/u/{{ uid }}" target=_blank>
        <img src="{{ avatar }}">
    </a>
    <p>
        <a href="/posts/{{ uid }}">All Posts</a>
    </p>
    <p>
        <a href="/users/">All User</a>
    </p>
    <p>
        <a href="/emotion/{{ uid }}">Emotion</a>
    </p>
    
    <form action="logout" >
        <input type="submit" value="Log out">
    </form>

{% else %}
    <input type="submit" value="Login" onclick="oauth()">
{% endif %}


<script>window.jQuery || document.write('<script src={% static "js/vendor/jquery-1.12.0.min.js"%}><\/script>')</script>
<script src={% static "js/plugins.js" %}></script>
<script src={% static "js/main.js" %}></script>
</body>
</html>
